/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;color:black;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display&display=swap');

a{
	font-family: 'Playfair Display', serif;
}
p{
	font-family: 'Mulish', sans-serif;
}
nav{
	font-size: 24px;
}
footer
{
	font-size: 16px;	
}
body{
	background: #F6F6F6;
	align-items: center;
}
.container{
	background: #F6F6F6;
}

/*--------Header------------*/
header{
	display: flex;
	font-size: 24px;
	width: 100%;
	background: #FFFFFF;
	flex-direction: column;	
	margin: 0 auto;

}
header	.container,header	.container-fluid,	footer	.container{
	background-color: white;
}
.header-block{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 50;
	height: 64px;
}

.social__wrapper	i{
	padding: 0	25px;
}
.social__wrapper	i:first-child{
		padding-left: 0;
	}
.social__wrapper	i:last-child{
		padding-right: 0;
	}
.searsh__basket	i{
	padding: 0	14px;
}

.searsh__basket	i:first-child{
	padding-left: 0;
}
.searsh__basket	i:last-child{
	padding-right: 0;
}
nav{
	margin: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__list{
	display: flex;
	align-items: center;
}
.menu__list	li{
	margin:	22px;
	font-size: 24px;
}

.menu__list	li:first-child{
	padding-left: 0;
}
.menu__list	li:last-child{
	padding-right: 0;
}
.social__wrapper{
	display: flex;
	justify-content: center;
}
.container__form-temp{
	margin: 0	auto;
	max-width: 1140px;
}

span{
	color: white;
}
/*-------filter---------*/
.container__filter{
	margin: 24px 0;
}
label{
	padding-bottom: 8px;
}
select{
	border: 2px solid #E5E5EA;
	box-sizing: border-box;
	border-radius: 8px;
}
.form-select {
	border: 2px solid #E5E5EA;
	box-sizing: border-box;
	border-radius: 8px;
	color: #C7C7CC;
    background-color: #F6F6F6;
    background-image: url(../img/arrow_input_small.svg);
    background-size: 16px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/*-------Body---w-c---------*/

/*-------catalog---------*/
.product{
	position: relative;
	border-radius: 16px;
	background-color: white;
	width: 100%;
	min-height: 560px;
}
.product-img{
	border-top-left-radius: 16px;
    border-top-right-radius: 16px;
	overflow: hidden;
	width: 100%;
}
.product-img	img{
	width: 100%;
}
.product-price{
	display: flex;
    align-items: center;
    position: absolute;
    bottom: 18px;
    left: 32px;
}
.product-content{
margin: 24px	32px;
}
.product-content	h2{
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	line-height: 1;
	letter-spacing: 0.4px;
	color: #1B2437;
	padding-bottom: 7px;
}
.product-content	p{
	font-family: 'Mulish';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #8E8E93;
}
.product-content	h3{
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 0.8;
	letter-spacing: 0.4px;
	color: #1B2437;
	padding-right: 8px;
}
.btn-shopnow{
	position: absolute;
	bottom:32px;
	right: 32px;
	max-height: 52px;
	height: 100%;
	max-width: 160px;
	width: 100%;
	color: #EDA3B5;
	background-color: rgb(255 255 255 /	0%);
	border: 2px solid #EDA3B5;
	box-sizing: border-box;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

/*-------footer-------------*/
footer{
	display: flex;
	width: 100%;
	background: #FFFFFF;
	flex-direction: column;
}
.navfoot{
	min-height: 80px;
	display: flex;
	justify-content: center;
	border-bottom:1px	solid	 #EFEFF4;	
}
.menu__listfo{
	display: flex;
	align-items: center;
	position: absolute;
	margin: 0	auto;
	color: #1B2437;
}
.menu__listfo	li{	
	margin-right:	72px;
}
.container__footer{
	margin: 48px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.menu__infoes{
	max-width: 267px;
	height: 126px;
	}
.container__footer	.header-block__logo,	p{
	padding-bottom: 8px;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
}
.container__footer	li,	.inf,.container__footer	a{
	margin-top: 16px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;	
	color: #8E8E93;
}
.inf{
	line-height: 24px;
}
.copyrights,.copyrights	.container-fluid,.copyrights	.container{
	display: flex;
	height: 50px;
	align-items: center;
	justify-content: space-between;
	background-color: #EFEFF4;
	font-size: 16px;	
	color: #8E8E93;
}
.copyrights	i{
	color: black;
	padding:0 20px;
}
.menu__email{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.inp{
	height: 44px;
	width: 267px;
	border: 2px solid rgba(229, 229, 234, 1);
	border-radius: 16px;
	align-items: center;
    display: flex;
    padding: 10px;
}
.btn-email{
	background: url(../img/send.svg)center	no-repeat;
	background-size: auto;
	background-color: #EDA3B5;
	width: 68px;
	height: 44px;
	border-radius: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.copyrights	p {
	margin-bottom:0;
	padding-bottom: 0;
}
/*--------braikpoint-------------*/
@media(max-width:900px){
	.container{
		max-width: 100%;}
		

}
@media(max-width:728px){
	.container{
		max-width: 100%;}
		/*--------burger-------------*/
		.header__burger{
			position: absolute;
			display: block;
			width: 30px;
			height: 30px;
			z-index: 51;
			align-items: center;
		}
		.header__burger	span{
		content: '';
		background: url(../img/burger.svg)center no-repeat;
		background-size: cover;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0%;
		right: 25px;
		margin: 5px;
		}
		.header__burger.active	span{
		content: '';
		background: url(../img/cancel_pink.svg)center no-repeat;
		background-size: cover;
		width: 20px;
		height: 20px;
		}
		header::before{
			display: block;}
		header{
			height: 66px;
		}
			.menu__list	{
				display: block;
				position: absolute;
				top: 70px;
				left: 40px;
				
			}	
		.menu__list	li{
			margin-bottom: 25px;
			font-size: 22px;
		}	
		.menu{
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: #FFFFFF;
			transition:	all 0.5s	ease 0s;
			border-radius: 16px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
			z-index: 3;
		}
		/*--------etc-------------*/
		.header-block {
			margin-left: 35px;
		}
}
@media(max-width:450px){
	.container{
	max-width: 100%;}
	
}
ul {
    padding-inline-start: 0px;
}
.previous{
	position: absolute;
	top: 0;
	left: 0%;
}
.next{
	position: absolute;
	top: 0;
	right: 0%;
}
.nav-number{
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* height: 32px; */
    padding-top: 15px;

}
.nav-number	li{
	margin: 7px;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 0.4;
	color: #1B2437;
}
.nav-number	li:last-child{
	margin-right:0;
}
.nav-number	li:first-child{
	margin-left: 0;
}
	/*--------size-------------*/
.sizepink{
	color:  #EDA3B5;
}
ul.size li{
display: inline; 
}
ul.size li label{
    display: inline-block;
	background: #F6F6F6;
	border: 2px solid #E5E5EA;
	box-sizing: border-box;
	border-radius: 8px;
    color: black;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.size li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.size li input[type="checkbox"]:checked + label {
    border: 2px solid	#8E8E93;;
	background: #EDA3B5;
    color: #fff;
    transition: all .2s;
}

ul.size li input[type="checkbox"] {
  display: absolute;
}
ul.size li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.size li input[type="checkbox"]:focus + label {
  border: 2px solid #EDA3B5;
}
	/*--------color-------------*/
.form-control-color {
    max-width: 2.3rem;
    padding: .290rem;
}